/* General settings 
----------------------------------------------------------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#navbar-download-link-content-mobile {
  opacity: 1 !important;
}

#navbar-download-link-content {
  opacity: 1 !important;
}

#navbar-download-link-content-mobile:hover,
#navbar-download-link-content:hover {
  opacity: 0.4 !important;
}

#globe:hover {
  cursor: pointer !important;
}

.__jivoMobileButton {
  display: none !important;
}

.label_7e6 {
  display: none;
}

.inactive {
  display: none;
}

.active {
  display: flex;
}

.pressed {
  display: flex;
}

.unpressed {
  display: none;
}

body {
  width: auto;
  background-color: #051621;
  font-size: 16px;
}

.label_f2f {
  display: none;
}

.globalClass_9da {
  display: none;
}

/*Navbar
----------------------------------------------------------------------------------*/
.navbar-mobile {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0em;
  width: 100%;
  height: 5em;
  background: rgba(5, 22, 33, 0.7);
  backdrop-filter: blur(16px);

  z-index: 999 !important;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#navbar-main-link {
  line-height: 0em;
  transition: 1s linear;
}

.navbar-link:hover {
  color: #ff2f02;
}

#navbar-links,
#navbar-misc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navbar-links {
  padding-left: 2.5em;
}

#navbar-misc {
  padding-right: 2.5em;
}

.navbar-link {
  color: #ffffff;
  padding-left: 2.5em;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75em;
}

#lang-select {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75em;
}

#jivo,
#lang {
  padding-right: 2.5em;
}

#navbar-download-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#navbar-download-link-content {
  padding: 0.75em 0.5em;
  width: 11em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  background: linear-gradient(180deg, #ff2f01 0%, #ff055f 100%);
  opacity: 1;
  color: #ffffff;
  font-size: 0.75em;
  line-height: 1em;
  transition: 0.2s linear;
  border-radius: 8px;
}

#headset,
#globe {
  width: 100%;
  height: 100%;
}

#download-link-content:hover,
#navbar-download-link-content:hover {
  opacity: 0.8;
}

#download-link-content:active,
#navbar-download-link-content:active {
  opacity: 1;
}

#download-link-content:disabled,
#navbar-download-link-content:disabled {
  opacity: 0.6;
}

/* About 
----------------------------------------------------------------------------------*/
.about-main-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;

  background: linear-gradient(180deg,
      rgba(5, 22, 33, 0) 33.08%,
      rgba(5, 22, 33, 0.38) 69.97%,
      #051621 94.67%),
    url(/assets/pages/about/others-desktop/about-main.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {
  margin-left: 7.4em;
  margin-bottom: 6.1em;
}

.about-main-page-title {
  width: 50vw;
  font-family: Rubik;
  font-style: normal;
  font-weight: 900;
  font-size: 3em;
  line-height: 1.17em;
  padding-bottom: 0.8em;

  color: white;
}

.about-main-page-text {
  width: 75vw;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.33em;

  color: white;
}

/* Heroes pic + text (radiant and dire)
----------------------------------------------------------------------------------*/
.heroes-left {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 70.1em;
  height: 16em;

  margin-bottom: 1.5em;
}

.heroes-pic-left {
  position: static;

  width: auto;
  height: 30.6em;

  margin-left: 1.8em;
}

.heroes-left-text {
  position: absolute;
  left: 13em;
  width: 25em;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.33em;

  color: #ffffff;
}

.heroes-right {
  position: relative;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  width: 70.1em;
  height: 16em;

  margin-bottom: 1.5em;
}

.heroes-pic-right {
  position: static;

  width: auto;
  height: 30.6em;
  margin-right: 1.5em;
}

.heroes-right-text {
  position: absolute;
  right: 12.7em;
  width: 23em;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.33em;
  text-align: right;

  color: #ffffff;
}

/* Radiant
----------------------------------------------------------------------------------*/

.radiant-container {
  background: linear-gradient(180deg,
      #051621 0%,
      rgba(5, 22, 33, 0) 11.98%,
      rgba(5, 22, 33, 0) 88.02%,
      #051621 100%),
    url(/assets/pages/about/about-radiant/radiant-bg.png), #000f1b;
  width: 100%;
  height: 111.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 6.25em;
  margin-bottom: 21.25em;
}

.radiant-title {
  width: 35em;
  font-family: Rubik;
  font-style: normal;
  font-weight: 900;
  font-size: 2em;
  line-height: 1.25em;

  color: #ffffff;

  margin-left: 3.7em;
  margin-bottom: 5em;
}

.radiant-title span {
  background: -webkit-linear-gradient(180deg, #00ff75 100%, #01c2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.radiant-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Dire
----------------------------------------------------------------------------------*/

.dire-container {
  background: linear-gradient(180deg,
      #051621 0%,
      rgba(5, 22, 33, 0) 46.88%,
      #051621 100%),
    url(/assets/pages/about/about-dire/dire-bg.png);
  width: 100%;
  height: 111.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2em;
}

.dire-title {
  width: 35em;
  font-family: Rubik;
  font-style: normal;
  font-weight: 900;
  font-size: 2em;
  line-height: 1.25em;

  color: #ffffff;

  margin-top: -7.6em;
  margin-left: 3.7em;
  margin-bottom: 5em;
}

.dire-title span {
  background: -webkit-linear-gradient(180deg, #ff2f01 100%, #ff055f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dire-flex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* Process
----------------------------------------------------------------------------------*/
.swiper-image-mobile {
  display: none;
}

.process-container {
  width: 92%;
  height: auto;

  margin-left: 8%;
  margin-bottom: 6.88em;
}

.process-title {
  width: auto;
  font-family: Rubik;
  font-style: normal;
  font-weight: 900;
  font-size: 1.8em;
  line-height: 1.25em;

  margin-bottom: 2.4em;

  color: #ffffff;
}

.slider-contents-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  width: 100%;
  height: auto;

  margin-bottom: 3em;
}

.swiper-wrapper {
  gap: 2.5em;
  cursor: grab;
}

.swiper-slide {
  width: 25.25em !important;
}

.swiper-image {
  width: 16.25em;
  height: 10.63em;
}

.swiper-points-img {
  position: absolute;
  width: 5em;
  height: 5em;
  top: 2.5em;
  right: 0.8em;
}

.swiper-items {
  width: 87%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: space-between;

  margin-left: -12.9%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
  stroke: none;
  outline: 0px solid transparent !important;
}

.swiper-button-prev {
  position: relative !important;
  outline: 0px solid transparent !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.swiper-button-next {
  position: relative !important;
  outline: 0px solid transparent !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

#arrow-left:focus,
#arrow-left:active,
#arrow-right:focus,
#arrow-right:active {
  outline: none !important;
  stroke: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

#arrow-left {
  width: 4em;
  height: 4em;
  stroke: none;
  outline: none;
}

#arrow-right {
  width: 4em;
  height: 4em;
  stroke: none;
  outline: none;
}

.swiper-scrollbar {
  height: 0.2em;
  width: 90%;
  background-color: #102938 !important;

  cursor: grab;
}

.swiper-scrollbar-drag {
  color: white;

  background-color: white !important;
}

/* Partnership
----------------------------------------------------------------------------------*/

.partnership-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 82vw;
  height: 14.31em;

  margin-left: 7.5em;
  margin-bottom: 8.75em;
}

.partnership-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 900;
  font-size: 2em;
  line-height: 2.5em;

  align-self: flex-start;

  color: #ffffff;
}

.partnership-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 82vw;
}

.partner-elem {
  margin-right: 2.5em;
}

.partner-elem:last-child {
  margin-right: 0em;
}

.partner-text {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;

  margin-bottom: 1.25em;

  color: #ffffff;
}

.forbes-pic {
  width: 3.6em;
  height: 1.5em;
}

.telecom-pic {
  width: 4.83em;
  height: 1.5em;
}

.rostelecom-pic {
  width: 4.13em;
  height: 1.5em;
}

.kommersant-pic {
  width: 7.26em;
  height: 1em;
}

/* Footer
----------------------------------------------------------------------------------*/
#footer-mobile {
  display: none;
}

footer {
  position: relative;
  padding: 0em 2em;
  bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-link-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer-link {
  padding-right: 2.5em;
}

#footer-link:hover {
  opacity: 0.4;
  cursor: pointer;
}

#footer-img {
  width: 100%;
  height: auto;
}

#footer-img-pilot {
  padding-bottom: 0.3em;
  width: 120%;
  height: auto;
}

#footer-img-origin {
  width: 100%;
  height: auto;
}

#footer-link-trust:hover {
  cursor: pointer;
  opacity: 0.4;
}

.forbes-pic:hover,
.telecom-pic:hover,
.rostelecom-pic:hover,
.kommersant-pic:hover {
  cursor: pointer;
  opacity: 0.4;
}

/* High res displays 
 --------------------------------------------------------------------------------------------------*/
@media (min-width: 1922px) {
  body {
    font-size: 22.5px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1025px) and (max-width: 1366px) {
  body {
    font-size: 16px;
  }
}

/*Ipad Pro
----------------------------------------------------------------------------------------------------------------*/
@media only screen and (orientation: portrait) and (min-device-width: 1024px) and (min-device-height: 1366px) {
  #logo-lion {
    widows: 2.5em;
    height: 2.5em;
  }

  #navbar-download-link-content-mobile {
    padding: 0.75em 1.5em;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(180deg, #ff2f01 0%, #ff055f 100%);
    opacity: 0.4;
    color: #ffffff;
    font-size: 0.75em;
    line-height: 1.125em;
    letter-spacing: 0.05em;
    transition: 0.2s linear;
    border-radius: 8px;
  }

  #footer-mobile {
    bottom: 0em !important;
    padding: 0em 0em !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
  }

  #footer-link {
    padding-right: 2em;
  }

  body {
    font-size: calc(100vw / 22.5);
  }

  .inactive {
    display: none;
  }

  .active {
    display: flex;
  }

  .unpressed {
    display: flex;
  }

  .pressed {
    display: none;
  }

  .navbar {
    display: none;
  }

  /* Navbar Ipad Pro
-------------------------------------------------------------------------------------------------------------------------*/
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;

    height: 3.56em;
    background: rgba(5, 22, 33, 0.7);
    backdrop-filter: blur(16px);

    z-index: 999 !important;
  }

  .mobile-burger {
    display: block;
    width: 24px;
    height: 24px;
    padding-left: 0em;
  }

  .burger-icon {
    width: 1em;
    height: 1em;
  }

  .burger-cross {
    width: 1em;
    height: 1em;
  }

  #navbar-links {
    padding-left: 0em;
    margin-left: 1.1em;
  }

  #navbar-main-link {
    margin-left: 1em;
  }

  #logo-lion {
    widows: 2.5em;
    height: 2.5em;
  }

  #navbar-download-link-mobile {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  #navbar-misc {
    padding-right: 0em;
    margin-right: 1.1em;
  }

  #navbar-download-link-content-mobile {
    padding: 0.75em 1.5em;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(180deg, #ff2f01 0%, #ff055f 100%);
    opacity: 0.4;
    color: #ffffff;
    font-size: 0.55em;
    line-height: 1.125em;
    letter-spacing: 0.05em;
    transition: 0.2s linear;
    border-radius: 8px !important;
  }

  #navbar-download-link-content-mobile:active {
    opacity: 1;
  }

  #headset {
    width: 1em;
    height: 1em;
  }

  #globe {
    width: 2em;
    height: 2em;
  }

  #lang {
    padding: 0 !important;
  }

  #download-link-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 3.125em;
    padding: 0.15em 1.4em;
    text-align: center;
  }

  .menu-mobile {
    display: flex;
    position: fixed;
    z-index: 999;
    flex-direction: column;
    top: -10em;
    height: auto;
    width: 100%;
    background: rgba(5, 22, 33, 0.7);
    backdrop-filter: blur(16px);
    transition: 0.2s linear;
  }

  .navbar-link {
    padding: 1.2em 0em;
    text-align: center;
  }

  /* About Ipad pro
----------------------------------------------------------------------------------*/
  .about-main-page {
    display: block;
    background: url(/assets/pages/about/mobile/about-main-mobile.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 0;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2.5em;

    padding-top: 22em;
    width: 20em;
  }

  .about-main-page-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 1.25em;

    margin-bottom: 0.8em;
    padding-bottom: 0;

    color: white;
  }

  .about-main-page-text {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 0.88em;
    line-height: 1.71em;

    color: white;
  }

  /* Heroes pic + text (radiant and dire) Ipad pro
----------------------------------------------------------------------------------*/
  .heroes-left {
    position: static;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 22.5em;
    height: 10em;

    margin-bottom: 0;
  }

  .heroes-pic-left {
    position: static;
    top: 0;
    left: 0;

    width: 9.61em;
    height: 15.75em;
    margin-left: 0;
  }

  .heroes-left-text {
    position: static;
    left: 0;
    bottom: 0;
    width: 22em;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 0.88em;
    line-height: 1.43em;

    color: #ffffff;
  }

  .heroes-right {
    position: static;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    width: 22.5em;
    height: 10em;

    margin-bottom: 0;
  }

  .heroes-pic-right {
    position: static;
    top: 0;
    left: 0;

    width: 9.61em;
    height: 15.75em;
    margin-right: 0;
  }

  .heroes-right-text {
    position: static;
    left: 0;
    bottom: 0;
    width: 22em;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 0.88em;
    line-height: 1.43em;

    color: #ffffff;
  }

  /* Radiant Ipad pro
----------------------------------------------------------------------------------*/

  .radiant-container {
    background: linear-gradient(180deg,
        rgba(5, 22, 33, 0) 33.08%,
        rgba(5, 22, 33, 0.38) 69.97%,
        #051621 94.67%),
      url(/assets/pages/about/mobile/radiant-bg-mobile.png);
    width: 100vw;
    height: auto;

    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 2em;
  }

  .radiant-title {
    width: 16em;
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25em;
    line-height: 1.4em;

    color: #ffffff;

    padding-top: 2em;
    margin: 0 auto 2.5em;
  }

  .radiant-title br {
    display: none;
  }

  .radiant-flex {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  #morphling-text br {
    display: none;
  }

  #bristle-text br {
    display: none;
  }

  /* Dire Ipad pro
----------------------------------------------------------------------------------*/

  .dire-container {
    background: linear-gradient(180deg,
        rgba(5, 22, 33, 0) 33.08%,
        rgba(5, 22, 33, 0.38) 69.97%,
        #051621 94.67%),
      url(/assets/pages/about/mobile/dire-bg-mobile.png);
    width: 100%;
    height: auto;

    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 5em;
  }

  .dire-title {
    width: 16em;
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25em;
    line-height: 1.4em;

    color: #ffffff;

    padding-top: 2.5em;
    margin: 0 auto 2.5em;
  }

  .dire-title br {
    display: none;
  }

  .dire-flex {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  #riki-text br {
    display: none;
  }

  /* Process Ipad pro
----------------------------------------------------------------------------------*/
  .swiper-image {
    display: none;
  }

  .process-container {
    width: 20em;
    height: auto;

    margin: 0 auto 2.5em;
  }

  .process-title {
    width: auto;
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25em;
    line-height: 1.4em;

    margin-bottom: 2.4em;

    color: #ffffff;
  }

  .swiper-container {
    width: 100%;
    height: auto;

    margin-bottom: 3em;
  }

  .swiper-wrapper {
    gap: 0em;
  }

  .swiper-slide {
    width: 14em !important;
  }

  .swiper-image-mobile {
    display: inline;

    width: 11.25em;
    height: 10.63em;
  }

  .swiper-points-img {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top: 4.5em;
    right: 0.7em;
  }

  .swiper-items {
    width: 20em;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin: 0 auto 5em;
  }

  .swiper-scrollbar {
    height: 0.2em;
    width: 13.5em;
    background-color: #102938 !important;
  }

  /* Partnership Ipad pro
----------------------------------------------------------------------------------*/

  .partnership-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 22.5em;
    height: auto;

    margin: 0 auto;
  }

  .partnership-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25em;
    line-height: 1.4em;

    width: 16em;
    align-self: flex-start;
    margin: 0 auto 1.25em;

    color: #ffffff;
  }

  .partnership-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 22.5em;
    margin: 0 auto;
  }

  .partner-elem {
    margin: 0 auto 2.5em;
    width: 19.5em;
  }

  .partner-elem:last-child {
    margin-right: auto;
  }

  .partner-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;

    margin-bottom: 1.5em;

    color: #ffffff;
  }

  .forbes-pic {
    width: 3.6em;
    height: 1.5em;
  }

  .telecom-pic {
    width: 4.83em;
    height: 1.5em;
  }

  .rostelecom-pic {
    width: 4.13em;
    height: 1.5em;
  }

  .kommersant-pic {
    width: 7.26em;
    height: 1em;
  }

  /* Footer Ipad pro
----------------------------------------------------------------------------------*/
  footer {
    display: none;
  }

  #footer-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    top: 45%;
    margin-bottom: 0em;
  }

  #footer-link {
    padding-right: 2em !important;
  }

  #footer-img {
    width: auto;
    height: 1.25em;
  }

  #footer-img-pilot {
    padding-bottom: 0.3em;
    width: auto;
    height: 1.4em;
  }

  #footer-img-origin {
    width: auto;
    height: 1.5em;
  }

  #footer-img-bliz {
    width: auto;
    height: 1.5em;
  }

  .footer-link-row {
    padding-left: 1.25em;
    margin-bottom: 1.25em;
  }

  /* For burger menu */
  .active {
    display: flex;
  }

  .inactive {
    display: none;
  }

  .pressed {
    display: flex;
    top: 3.6em;
  }

  .unpressed {
    display: none;
    transition: 4s linear;
  }

  #jivo,
  #lang {
    padding-right: 1em;
    padding-left: 1em;
  }

  .jivo,
  .lang {
    display: none;
  }

  #jivo {
    padding-left: 2.8em;
  }
}

/* Landscape Ipad and Ipadmini */
@media only screen and (orientation: landscape) and (device-width: 1024px) {
  body {
    font-size: 12px;
  }
}

/* Mobile 
------------------------------------------------------------------------------------------------*/
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 1023px) {

  .about-main-page-title {
    width: auto;
  }

  .about-main-page-text {
    width: auto;
  }

  #logo-lion {
    widows: 2.5em;
    height: 2.5em;
  }

  .burger-icon {
    width: 1em;
  }

  .burger-cross {
    width: 1em;
  }

  #headset {
    width: 1em;
  }

  #globe {
    width: 2em;
  }

  #footer-mobile {
    bottom: 0em !important;
    padding: 0em 0em !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
  }

  #footer-link {
    padding-right: 2em;
  }

  body {
    font-size: calc(100vw / 22.5);
  }

  .inactive {
    display: none;
  }

  .active {
    display: flex;
  }

  .unpressed {
    display: flex;
  }

  .pressed {
    display: none;
  }

  .navbar {
    display: none;
  }

  /* Navbar mobile
------------------------------------------------------------------------------------------------*/
  .navbar-mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 3.56em;
    background: rgba(5, 22, 33, 0.7);
    backdrop-filter: blur(16px);

    z-index: 999 !important;
  }

  .mobile-burger {
    display: block;
    width: 24px;
    height: 24px;
    padding-left: 0em;
  }

  #navbar-links {
    padding-left: 0em;
  }

  #navbar-main-link {
    margin-left: 1em;
  }

  #navbar-download-link-mobile {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  #navbar-misc {
    padding-right: 0em;
  }

  #navbar-download-link-content-mobile {
    padding: 0.75em 1.5em;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(180deg, #ff2f01 0%, #ff055f 100%);
    opacity: 0.4;
    color: #ffffff;
    font-size: 0.75em;
    line-height: 1.125em;
    letter-spacing: 0.05em;
    transition: 0.2s linear;
    border-radius: 8px;
  }

  #navbar-download-link-content-mobile:active {
    opacity: 1;
  }

  #download-link-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 3.125em;
    padding: 0.15em 1.4em;
    text-align: center;
  }

  .menu-mobile {
    display: flex;
    position: fixed;
    z-index: 999;
    flex-direction: column;
    top: -10em;
    height: auto;
    width: 100%;
    background: rgba(5, 22, 33, 0.7);
    backdrop-filter: blur(16px);
    transition: 0.2s linear;
  }

  .navbar-link {
    padding: 1.2em 0em;
    text-align: center;
  }

  /* About Mobile
----------------------------------------------------------------------------------*/
  .about-main-page {
    display: block;
    background: url(/assets/pages/about/mobile/about-main-mobile.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 4em;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2.5em;

    padding-top: 22em;
    width: 20em;
  }

  .about-main-page-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 1.25em;

    margin-bottom: 0.8em;
    padding-bottom: 0;

    color: white;
  }

  .about-main-page-text {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 0.88em;
    line-height: 1.71em;

    color: white;
  }

  /* Heroes pic + text (radiant and dire) Mobile
----------------------------------------------------------------------------------*/
  .heroes-left {
    position: static;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 22.5em;
    height: 16em;

    margin-bottom: 0;
  }

  .heroes-pic-left {
    position: static;
    top: 0;
    left: 0;

    width: 9.61em;
    height: 15.75em;
    margin-left: 0;
  }

  .heroes-left-text {
    position: static;
    left: 0;
    bottom: 0;

    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 0.88em;
    line-height: 1.43em;

    color: #ffffff;
  }

  .heroes-right {
    position: static;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    width: 22.5em;
    height: 16em;

    margin-bottom: 0;
  }

  .heroes-pic-right {
    position: static;
    top: 0;
    left: 0;

    width: 9.61em;
    height: 15.75em;
    margin-right: 0;
  }

  .heroes-right-text {
    position: static;
    left: 0;
    bottom: 0;

    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 0.88em;
    line-height: 1.43em;

    color: #ffffff;
  }

  /* Radiant Mobile
----------------------------------------------------------------------------------*/

  .radiant-container {
    background: url(/assets/pages/about/mobile/radiant-bg-mobile.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 5em;
  }

  .radiant-title {
    width: 16em;
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25em;
    line-height: 1.4em;

    color: #ffffff;

    padding-top: 2.5em;
    margin: 0 auto 2.5em;
  }

  .radiant-title br {
    display: none;
  }

  .radiant-flex {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  #morphling-text br {
    display: none;
  }

  #bristle-text br {
    display: none;
  }

  /* Dire Mobile
----------------------------------------------------------------------------------*/

  .dire-container {
    background: url(/assets/pages/about/mobile/dire-bg-mobile.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 2.5em;
  }

  .dire-title {
    width: 16em;
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25em;
    line-height: 1.4em;

    color: #ffffff;

    padding-top: 2.5em;
    margin: 0 auto 2.5em;
  }

  .dire-title br {
    display: none;
  }

  .dire-flex {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  #riki-text br {
    display: none;
  }

  /* Process mobile
----------------------------------------------------------------------------------*/
  .swiper-image {
    display: none;
  }

  .process-container {
    width: 20em;
    height: auto;

    margin: 0 auto 2.5em;
  }

  .process-title {
    width: auto;
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25em;
    line-height: 1.4em;

    margin-bottom: 2.4em;

    color: #ffffff;
  }

  .swiper-container {
    width: 100%;
    height: auto;

    margin-bottom: 3em;
  }

  .swiper-wrapper {
    gap: 0em;
  }

  .swiper-slide {
    width: 14em !important;
  }

  .swiper-image-mobile {
    display: inline;

    width: 11.25em;
    height: 10.63em;
  }

  .swiper-points-img {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top: 4.5em;
    right: 0.7em;
  }

  .swiper-items {
    width: 20em;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin: 0 auto 5em;
  }

  .swiper-scrollbar {
    height: 0.2em;
    width: 13.5em;
    background-color: #102938 !important;
  }

  /* Partnership Mobile
----------------------------------------------------------------------------------*/

  .partnership-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 22.5em;
    height: auto;

    margin: 0 auto;
  }

  .partnership-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25em;
    line-height: 1.4em;

    width: 16em;
    align-self: flex-start;
    margin: 0 auto 1.25em;

    color: #ffffff;
  }

  .partnership-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 22.5em;
    margin: 0 auto;
  }

  .partner-elem {
    margin: 0 auto 2.5em;
    width: 19.5em;
  }

  .partner-elem:last-child {
    margin-right: auto;
  }

  .partner-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;

    margin-bottom: 1.5em;

    color: #ffffff;
  }

  .forbes-pic {
    width: 3.6em;
    height: 1.5em;
  }

  .telecom-pic {
    width: 4.83em;
    height: 1.5em;
  }

  .rostelecom-pic {
    width: 4.13em;
    height: 1.5em;
  }

  .kommersant-pic {
    width: 7.26em;
    height: 1em;
  }

  /* Footer Mobile
----------------------------------------------------------------------------------*/
  footer {
    display: none;
  }

  #footer-mobile {
    bottom: 0em !important;
    padding: 0em 0em !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
  }

  #footer-link {
    padding-right: 2em !important;
  }

  #footer-img {
    width: auto;
    height: 1.25em;
  }

  #footer-img-pilot {
    padding-bottom: 0.3em;
    width: auto;
    height: 1.4em;
  }

  #footer-img-origin {
    width: auto;
    height: 1.5em;
  }

  #footer-img-bliz {
    width: auto;
    height: 1.5em;
  }

  .footer-link-row {
    padding-left: 1.25em;
    margin-bottom: 1.25em;
  }

  /* For burger menu */
  .active {
    display: flex;
  }

  .inactive {
    display: none;
  }

  .pressed {
    display: flex;
    top: 3.6em;
  }

  .unpressed {
    display: none;
    transition: 4s linear;
  }

  #jivo,
  #lang {
    padding-right: 1em;
    padding-left: 1em;
  }

  .jivo,
  .lang {
    display: none;
  }

  #jivo {
    padding-left: 2.8em;
  }
}