* {
  margin: 0px;
  padding: 0px;
}

.overlay_79a {
  display: none !important;
}

#text-special-mobile {
  display: none;
}


body {
  width: auto;
  background-color: #051621;
  font-size: calc(100vh / 48);
  overflow-x: hidden;
}

#globe:hover{
  cursor: pointer !important;
}

#navbar-download-link-content-mobile {
  opacity: 1 !important;
}


#navbar-download-link-content {
  opacity: 1 !important;
}

#navbar-download-link-content-mobile:hover,
#navbar-download-link-content:hover {
  opacity: 0.4 !important;
}


.__jivoMobileButton {
  display: none !important;
}

.label_7e6 {
  display: none;
}

.inactive {
  display: none;
}

.active {
  display: flex;
}

.pressed {
  display: flex;
}

.unpressed {
  display: none;
}

.label_f2f {
  display: none;
}

a {
  text-decoration: none;
}

.wrapper-mobile {
  width: auto;
  height: auto;
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0em;
  width: 100%;
  height: 5em;
  background: rgba(5, 22, 33, 0.7);
  backdrop-filter: blur(16px);
}

#navbar-main-link {
  line-height: 0em;
  transition: 1s linear;
}

.navbar-link:hover {
  color: #ff2f02;
}

#navbar-links,
#navbar-misc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navbar-links {
  padding-left: 2.5em;
}

#navbar-misc {
  padding-right: 2.5em;
}

.navbar-link {
  color: #ffffff;
  padding-left: 2.5em;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75em;
}

#lang-select {
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75em;
}

#jivo,
#lang {
  padding-right: 2.5em;
}

.label_f2f {
  display: none;
}

.navbar-mobile {
  display: none;
}

#navbar-download-link,
#navbar-download-link-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#navbar-download-link-content,
#navbar-download-link-content-mobile {
  padding: 0.75em 1.5em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  background: linear-gradient(180deg, #ff2f01 0%, #ff055f 100%);
  opacity: 0.4;
  color: #ffffff;
  font-size: 0.875em;
  line-height: 1.125em;
  letter-spacing: 0.05em;
  transition: 0.2s linear;
  border-radius: 10px;
}

#navbar-download-link-content:hover {
  opacity: 1;
}

#headset,
#globe {
  width: 130%;
  height: 130%;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wrapper {
  height: auto;
}

/*******************Page 1******************/

.page {
  width: 100%;
  height: auto;
}

#page-1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #051621 0%, #000000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-1-rectangle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 95%;
  height: 32.25em;
  border-radius: 1.5625em;
  background: linear-gradient(180deg, #ff2f01 0%, #ff055f 100%);
}

.page-1-rectangle-element {
  width: 33.93em;
}

#page-1-rectangle-element-header {
  margin-top: 3.9em;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3em;
  color: #ffffff;
}

.page-1-rectangle-element-text {
  margin-top: 1.6em;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  color: #ffffff;
}

#page-1-rectangle-element-header-empty {
  height: 3.85em;
  margin-top: 3.9em;
}


.page-1-2 {
  width: 100%;
  height: auto;
}

.page-image-wrapper {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#page-1-left {
  height: 30.56em;
  width: auto;
}

#page-1-right {
  height: 30.56em;
  width: auto;
}

#dots-left,
#dots-right {
  width: 50vw;
  height: auto;
}

#dots-left {
  position: relative;
  bottom: 26.5em;
  left: 26em;
}

#dots-right {
  position: relative;
  bottom: 22.5em;
  left: 16.4em;
}

.page-1-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0em 7.75em;
  margin-top: 2em;
  padding-bottom: 5em;
}

.page-1-text-content {
  width: 15.81em;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  color: #ffffff;
}

/*******************Page 2******************/

#page-2,
#page-3,
#page-4,
#page-5,
#page-6,
#page-7 {
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #051621 0%, #000000 100%);
}

#page-7 {
  height: 110vh;
}

.page-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.text-left-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 100%;
}

.page-container-text-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.image-right-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page-container-text-right {
  width: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-right-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.image-left-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.page-container-text-header {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2em;
  color: #ffffff;
}

.page-container-text-paragraph {
  padding-top: 2em;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
  color: #ffffff;
  width: 30em;
}

.page-container-image-right {
  height: 30.5em;
  width: auto;
  left: 0em;
}

.page-container-image-left {
  position: absolute;
  height: 30.5em;
  width: auto;
  right: 0em;
}

#footer-mobile {
  display: none;
}

footer {
  position: absolute;
  margin-top: 45%;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-link-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em 9em;
}

#footer-link {
  padding-right: 2em;
}

#footer-img {
  width: 120%;
  height: auto;
}

#footer-img-pilot {
  padding-bottom: 0.3em;
  width: 120%;
  height: auto;
}

#footer-img-origin {
  width: 150%;
  height: auto;
}

@media (max-width: 700px) {
  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: flex;
  }


  #text-special-mobile {
    display: flex;
  }
  
  .page-1-rectangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .desktop {
    display: none;
  }

  .page {
    flex-direction: column;
  }
  



}
